.playerChoice, .emptyRow{
    width: 5em;
    height: 5em;
    border: 2px black solid;
    display: inline-block;
}

.playerColorChoices{
    display: none;
    z-index: 1;
    position: relative;
}

.playerChoice:hover .playerColorChoices{
    display: block;
}

.playerColorChoices .playerColorPurple{
    padding: 2.5em;
    background-color:#6200a7;
}

.playerColorChoices .playerColorBlue{
    padding: 2.5em;
    background-color:#0045a7;
}

.playerColorChoices .playerColorYellow{
    padding: 2.5em;
    background-color:#a76200;
}

.playerColorChoices .playerColorGreen{
    padding: 2.5em;
    background-color:#45a700;
}

.playerColorPurple:hover {
    background-color: #440074;
}
.playerColorBlue:hover {
    background-color: #003074;
}
.playerColorYellow:hover {
    background-color: #744400;
}
.playerColorGreen:hover {
    background-color: #307400;
}

